.container {
    height: 100%;
    width: 100%;
  }
  
  .buffer {
    margin: auto;
    margin-top: 25%;
  }

  /* .loader-bg {
    filter: blur(10px);
    z-index: -1;
  } */
  
  @media only screen and (max-width: 768px) {
    .buffer {
      margin-top: 50%;
    }
  }